.btn-outline-secondary {
    border-color: white;
}

.web-footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid gainsboro;
    margin-top: auto;
    background-color: white;
}

body,
html {
    background-color: antiquewhite;
}

.gallery-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-thumbnail {
    cursor: pointer;

}