.btn-outline-secondary {
    border-color: white;
}

.web-footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid gainsboro;
    margin-top: auto;
    background-color: white;
}

.box:hover {
    background-color: rgb(97, 97, 97);
    color: azure;
    cursor: pointer;
}